<div class="board-wrap">
    <div class="card-container">
        <div class="card card-face-{{cards[0]}}" ng-show="cards[0]"><div class="sr-only">{{cards[0] | card}}</div></div>
    </div>
    <div class="card-container">
        <div class="card card-face-{{cards[1]}}" ng-show="cards[1]"><div class="sr-only">{{cards[1] | card}}</div></div>
    </div>
    <div class="card-container">
        <div class="card card-face-{{cards[2]}}" ng-show="cards[2]"><div class="sr-only">{{cards[2] | card}}</div></div>
    </div>
    <div class="card-container">
        <div class="card card-face-{{cards[3]}}" ng-show="cards[3]"><div class="sr-only">{{cards[3] | card}}</div></div>
    </div>
    <div class="card-container">
        <div class="card card-face-{{cards[4]}}" ng-show="cards[4]"><div class="sr-only">{{cards[4] | card}}</div></div>
    </div>
</div>
